@model HelpBudgetMe.Models.Paycheck

@{
    ViewData["Title"] = "Add Paycheck";
}


<main>
    <h1>Add Paycheck</h1>
    <form method="post" asp-controller="Paycheck" asp-action="AddPaycheck">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</main>