@model HelpBudgetMe.Models.ViewModels.SignupViewModel

@{
    ViewData["Title"] = "Sign-up";
}


<section>
    <form class="flex_column-center" id="signup" method="post" asp-controller="Account" asp-action="Signup">
        <h2 class="signing_title pagestart">Sign Up!</h2>
        <div class="validationError danger" asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />

        </div>
        <div>
            <button class="btn btn-action" type="submit">Create</button>
            <a asp-action="Signin">Sign In</a>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}