@model HelpBudgetMe.Models.ViewModels.SignupViewModel

<h2>Sign Up!</h2>
<section>
    <form id="signup" method="post" asp-controller="Account" asp-action="Signup">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name" ></label>
            <input asp-for="Name" />
           
        </div>
        <div>
            <label asp-for="Email" ></label>
            <input asp-for="Email" />
          
        </div>
        <div>
            <label asp-for="Password" ></label>
            <input asp-for="Password" />
            
        </div>
        <div>
            <label asp-for="ConfirmPassword" ></label>
            <input asp-for="ConfirmPassword" />
            
        </div>
        <div>
            <button type="submit">Sign Up!</button>
        </div>
        <p>
            <a asp-action="Signin">Sign In</a>
        </p>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}