@model HelpBudgetMe.Models.ViewModels.SigninViewModel


<main>
    <form class="signing" id="signin" method="post" asp-controller="Account" asp-action="Signin">
        <h1 class="signing_title">Sign-in!</h1>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        <div class="signing_remembermeContainer">
            <label  asp-for="RememberMe"></label>
            <input class="signing_checkbox" asp-for="RememberMe" />
        </div>
        <div>
            <button class="btn btn-action" type="submit">Sign in</button>
            <a asp-controller="Account" asp-action="Signup">Sign up</a>
        </div>
    </form>
</main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}