@model HelpBudgetMe.Models.ViewModels.AddViewModel

@{
    ViewData["Title"] = "Add Need";
}

<main>
    <h1>Add Need</h1>
    <form method="post" asp-controller="Need" asp-action="AddNeed">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</main>