@model HelpBudgetMe.Models.Need

@{
    ViewData["Title"] = "Delete Need";
}

<main class="pagestart">
    <form class="flex_column-center" method="post" asp-controller="Need" asp-action="DeleteNeed">
        <h1 class="signing_title">Delete Need</h1>
        <div>
            <label asp-for="Name"></label>
            <input readonly value="@Model.Name" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input readonly value="@Model.Amount" asp-for="Amount" />
        </div>
        <input value="@Model.Id" asp-for="Id" hidden />
        <input value="@Model.DateCreated" asp-for="DateCreated" hidden />
        <button class="btn btn-action" type="submit">Delete</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}