@model HelpBudgetMe.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}
<main class="pagestart">
    <form class="signing" method="post" asp-controller="Need" asp-action="TransferFromNeeds">
        <h1 class="signing_title">Transfer From Needs</h1>
        <h5 class="expenseType_amount">Budgeted for Needs: <strong>$@Model.BudgetedForNeeds</strong></h5>
        <div>
            <label asp-for="@Model.TransferToWants">Transfer To Wants</label>
            <input value="@Model.TransferToWants" asp-for="TransferToWants" />
            <span class="validationError danger" asp-validation-for="TransferToWants"></span>
        </div>
        <div>
            <label asp-for="@Model.TransferToSavings">Transfer To Savings</label>
            <input value="@Model.TransferToSavings" asp-for="TransferToSavings" />
            <span class="validationError danger" asp-validation-for="TransferToSavings"></span>
        </div>
        <button class="btn btn-action" type="submit">Transfer</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}