@model HelpBudgetMe.Models.ViewModels.AddViewModel

@{
    ViewData["Title"] = "Add Want";
}


<main class="pagestart">
    
    <form class="signing" method="post" asp-controller="Want" asp-action="AddWant">
        <h1 class="signing_title">Add Want</h1>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span class="validationError danger" asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
            <span class="validationError danger" asp-validation-for="Amount"></span>
        </div>
        <div>
            <button class="btn btn-action" type="submit">Add</button>
        </div>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}