@model HelpBudgetMe.Models.ViewModels.AddViewModel

<main>
    <h1>Add Want</h1>
    <form method="post" asp-controller="Want" asp-action="AddWant">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input asp-for="Amount" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</main>