@model HelpBudgetMe.Models.Want

@{
    ViewData["Title"] = "Delete Want";
}

<main>
    <h1>Delete Want</h1>
    <form method="post" asp-controller="Want" asp-action="DeleteWant">
        <div>
            <label asp-for="Name"></label>
            <input value="@Model.Name" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input value="@Model.Amount" asp-for="Amount" />
        </div>
        <input value="@Model.Id" asp-for="Id" hidden />
        <input value="@Model.DateCreated" asp-for="DateCreated" hidden />
        <button type="submit">Delete</button>
    </form>
</main>