@model HelpBudgetMe.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}
<main class="pagestart">
    <h1>Transfer From Wants</h1>
    <h5 class="expenseType_amount">Budgeted for Wants: <strong>$@Model.BudgetedForWants</strong></h5>
    <form method="post" asp-controller="Want" asp-action="TransferFromWants">
        <div>
            <h2>Transfer To Needs</h2>
            <label asp-for="@Model.TransferToNeeds"></label>
            <input value="@Model.TransferToNeeds" asp-for="TransferToNeeds" />
            <span asp-validation-for="TransferToNeeds"></span>
        </div>
        <div>
            <h2>Transfer To Savings</h2>
            <label asp-for="@Model.TransferToSavings"></label>
            <input value="@Model.TransferToSavings" asp-for="TransferToSavings" />
            <span asp-validation-for="TransferToSavings"></span>
        </div>
        <button type="submit">Transfer</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}