@model HelpBudgetMe.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}
<main class="pagestart">
    <form class="flex_column-center" method="post" asp-controller="Want" asp-action="TransferFromWants">
        <h1 class="signing_title">Transfer From Wants</h1>
        <h5 class="expenseType_amount">Budgeted for Wants: <strong>$@Model.BudgetedForWants</strong></h5>
        <div>
            <label asp-for="@Model.TransferToNeeds">Transfer To Needs</label>
            <input value="@Model.TransferToNeeds" asp-for="TransferToNeeds" />
            <span class="validationError danger" asp-validation-for="TransferToNeeds"></span>
        </div>
        <div>
            <label asp-for="@Model.TransferToSavings">Transfer To Savings</label>
            <input value="@Model.TransferToSavings" asp-for="TransferToSavings" />
            <span class="validationError danger" asp-validation-for="TransferToSavings"></span>
        </div>
        <button class="btn btn-action" type="submit">Transfer</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}