@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="frontpage_section1">
        <div class="headline">
            <h2 class="headline_watermark">EASY</h2>
            <h1 class="headline_hook">Budgeting has never been so <strong>easy.</strong></h1>
        </div>
        <div class="headline_subheadline">
            <p >Track expenses and manage income with an interface that makes cents.</p>
        </div>
        <div class="line"></div>
    </section>
    <section class="frontpage_section2">
        <div class="circle"><h4 class="circle_text">50</h4></div>
        <p class="section2_explainText"><strong>50%</strong> goes to needs.</p>
        <div class="circle"><h4 class="circle_text">30</h4></div>
        <p class="section2_explainText"><strong>30%</strong> goes to wants.</p>
        <div class="circle"><h4 class="circle_text">20</h4></div>
        <p class="section2_explainText"><strong>20%</strong> goes to savings.</p>
    </section>
    <section class="frontpage_section3">
        <img loading="lazy" class="section3_pic" src="~/image/lizWar.jpg" />
        <p class="section3_text">Popularized by Elizabth Warren the <strong>50/30/20 budgeting plan</strong> has helped millions achieve financial freedom. Get a system that automatically prioritizes your money, and never feel guilty about a purchase again.</p>
        <a class="btn btn-action-large" asp-controller="Account" asp-action="Signup">Sign-up</a>
    </section>
</main>
