@model HelpBudgetMe.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}
<main class="pagestart">
    <form class="signing" method="post" asp-controller="Saving" asp-action="TransferFromSavings">
        <h1 class="signing_title">Transfer From Savings</h1>
        <h5 class="expenseType_amount">Total Savings: <strong>$@Model.BudgetedForSavings</strong></h5>
        <div>
            
            <label asp-for="@Model.TransferToNeeds">Transfer To Needs</label>
            <input value="@Model.TransferToNeeds" asp-for="TransferToNeeds" />
            <span class="validationError danger" asp-validation-for="TransferToNeeds"></span>
        </div>
        <div>
            <label asp-for="@Model.TransferToWants">Transfer To Wants</label>
            <input value="@Model.TransferToWants" asp-for="TransferToWants" />
            <span class="validationError danger" asp-validation-for="TransferToWants"></span>
        </div>
        <button class="btn btn-action" type="submit">Transfer</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}